<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
  <package id="System.Data.SqlClient" version="4.9.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net472" />
  <package id="Serilog" version="4.3.0" targetFramework="net472" />
</packages>