<?xml version="1.0" encoding="utf-8"?>

  <appSettings>
    <add key="FtpUsername" value="ftpuser" />
    <add key="FtpPassword" value="ftppassword" />

    <add key="AzureFtpUrl" value="ftp://azure.example.com/orders" />
    <add key="AzureFtpUsername" value="azure-user" />
    <add key="AzureFtpPassword" value="azure-pass" />

    <add key="AwsFtpUrl" value="ftp://aws.example.com/orders" />
    <add key="AwsFtpUsername" value="aws-user" />
    <add key="AwsFtpPassword" value="aws-pass" />
  </appSettings>

