<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="SeqUrl" value="https://seq.production.com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>

	<system.web>
		<compilation debug="false"
                 xdt:Transform="SetAttributes" />
		<customErrors mode="On"
                  xdt:Transform="SetAttributes" />
	</system.web>

	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Strict-Transport-Security"
             value="max-age=31536000; includeSubDomains; preload"
             xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>